body {
    background-color: #00224B;
    color: #EFFD5F;
}

div {
    border: 3px solid yellow;
}
.container {
    display: flex;
    gap: 50px;
}

.card {
    border: 2px solid #EFFD5F;
    padding: 20px;
    width: 300px;
}
